@charset "UTF-8";

/*
cores: 
#D96662 Textos (Tavlvez)
#5B0847 Títulos
#7C4CAF Fundo

*/


body{
    background-color: #c194f1;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #7D4CB0;
    padding: 2vh 2vw;
    text-align: center;
}

.logo{
    display: flex;
    align-items: center; 
    justify-content: center;
}

.logo img {
    width: 100%;
    max-width: 150px; /* Define o tamanho máximo */
    height: auto; /* Mantém a proporção da imagem */
}

.empresa{
    font-size: 3em;
    color: #3b037a;
    padding: 70px;
    font-weight: bolder;
    text-transform: uppercase;
}
.container {
    margin: auto;
    overflow: auto;
    padding: 0 20px;
    max-width: 90%;
}

.img-centralizada {
    background: url('./img/img-central.jpeg') no-repeat center bottom/cover;
    height: 500px;
}

.img-centralizada h1{
    color:#3b037a;
    margin: auto;
    text-align: center;
    padding-top: 170px;
}
.img-centralizada p{
    color:#3b037a;
    margin: auto;
    text-align: center;
    padding: 2vh 2vw;
    padding-top: 15px;
}

.sobre, .servicos{
    background-color: #633C8F;
    margin: 20px auto;
    padding: 2vh 2vw;
    max-width: 90%;
    border-radius: 5px;
    color:#3b037a;
}

.servicos ul {
    list-style-type: none;
    padding: 0;
}

.servicos li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #7D4CB0;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

.botao {
    display: inline-block;
    background-color: #633C8F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1em
}

.botao:hover {
    background-color: #3b037a;
}

